{#
name: "Article list"
#}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'article-list',
  'id': content.wrapper_id,
  'classes': [
    'my-12 md:my-20 lg:my-24',
    content.background ? 'bg-gray-100' : '',
    content.wrapper_classes
  ],
  'container': (content.container is null) ? 'container space-y-12 md:space-y-14 lg:space-y-16' : content.container,
  'heading': content.heading,
} %}
{% block content %}
{% if content.items|length %}
  {% if not content.pagination.previous %}
    {% include '@component/article-teaser/article-teaser.twig' with { content: content.items[0] } only %}
    <div class="md:flex">
      <div class="md:w-2/3 space-y-12 md:space-y-14 lg:space-y-16">
        {% for item in content.items|slice(1, content.items|length - 1) %}
          <div>
            {% include '@component/article-teaser/article-teaser.twig' with { content: item } only %}
          </div>
        {% endfor %}
        {% include '@component/pagination/pagination.twig' with {
          content: {
            items: content.pagination,
          }
        } %}
      </div>
      {% if content.items|length > 1 %}
        <div class="md:w-1/3 md:pl-12">
          {% if banner.image %}
            <div class="md:sticky top-0 pt-12 md:pt-0">
              {% if banner.url %}
                <a href="{{ banner.url }}" class="block" target="_blank">
              {% endif %}
              {% include '@component/picture/picture.twig'
                with {
                  content: {
                    image: banner.image,
                    image_classes: 'w-full'
                  }
                }
              %}
              {% if banner.url %}
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="md:w-2/3 space-y-12 md:space-y-14 lg:space-y-16">
    {% for item in content.items %}
      <div>
        {% include '@component/article-teaser/article-teaser.twig' with { content: item } only %}
      </div>
    {% endfor %}
    {% include '@component/pagination/pagination.twig' with {
      content: {
        items: content.pagination,
      }
    } %}
    </div>
  {% endif %}
{% else %}
  <div class="prose prose-lg prose-primary">
    <p>{{ __('Zatím nejsou zveřejněny žádné články. Přijďte se podívat později', 'kontrapunkt') }}</p>
  </div>
{% endif %}
{% endblock %}
