{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'header-socials',
  'id': content.wrapper_id,
  'classes': content.wrapper_classes,
} %}
{% block content %}
<ul class="flex shrink-0 items-center space-x-4 lg:space-x-6">
{% for item in content.items %}
  {% if item.url %}
    <li class="block">
      <a href="{{ item.url }}" target="_blank" class="block h-5 lg:h-6 text-black lg:text-gray-100 lg:hover:text-white">
        {{ icons.get(item.icon) }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
{% endblock %}
