<div class="px-4 px-md-6 py-2">
  <h3 class="mb-4">Běžné</h3>
  <div class="flex gap-4 mb-8">
    {{ component_button({
      title: 'Button',
    }) }}
    {{ component_button({
      title: 'Button',
      wrapper_classes: 'btn-secondary',
    }) }}
  </div>
  <h3 class="mb-4">Malé</h3>
  <div class="flex gap-4">
    {{ component_button({
      title: 'Button',
    }) }}
    {{ component_button({
      title: 'Button',
      wrapper_classes: 'btn-secondary',
    }) }}
  </div>
</div>
