{#
name: "Navigation - tile"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'tag': content.link.url ? 'a' : 'div',
  'name': 'navigation-tile',
  'id': content.wrapper_id,
  'classes': [
    'relative',
    'block',
    'group',
    content.wrapper_classes,
  ],
  'href': content.link.url,
  'target': content.link.target,
} %}

{% block content %}
{% if content.image %}
  {{ component_picture({
    image: content.image|resizer(['', '800', '1000', ''], ['', '400', '', '']),
    image_classes: 'w-full h-full object-cover object-center',
  }) }}
  {% if content.link.title %}
    <div class="absolute font-display font-black inset-0 w-full h-full flex items-center justify-center bg-white/80 pointer-events-none opacity-0 transition-opacity group-hover:opacity-100 duration-300">
      <div class="max-w-full p-4 sm:p-6 lg:p-8 text-center transition-transform duration-300 -translate-y-2 group-hover:translate-y-0">
        <span class="text-secondary text-2xl lg:text-3xl pl-2">
          {{ content.link.title|typography }}
        </span>
      </div>
    </div>
  {% endif %}
{% endif %}
{% endblock %}
