{#
name: "Akce"
weight: 4
#}

{% extends "@styleguide/styleguide-base.twig" %}
{% block content %}
{% include '@page/_partials/header.twig' %}

<main>
  {# {% include '@component/breadcrumb/styleguide.twig' %} #}

  {% include '@component/event-list/styleguide.twig' %}
</main>

{% include '@page/_partials/footer.twig' %}
{% endblock %}
