{#
name: "Galerie"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'gallery',
  'id': content.wrapper_id,
  'classes': [
    content.inner ? '' : 'my-8 sm:my-10 lg:my-12',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}
{% block content %}
<div class="max-w-(--breakpoint-md) mx-auto">
  {% if content.description %}
    <div class="text-lg sm:text-2xl text-gray-800 mb-8 max-w-prose">
      {{ content.description|typography }}
    </div>
  {% endif %}
  {% if content.items|length %}
    <div class="space-y-8 lg:space-y-16">
      <ul class="js-gallery grid grid-cols-1 gap-4 sm:grid-cols-2">
        {% for image in content.items %}
          <li class="col-span-1">
            <div class="aspect-w-16 aspect-h-9">
              {{ component_picture({
                image: image|resizer(['500', '300', '1000', 'crop'], ['400', '250', '700', 'crop'], ['400', '250', '', 'crop']),
                url: image.0.src,
                image_classes: 'w-full h-full object-cover object-center',
                link_lightbox: true,
              }) }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    {{ component_alert({
      type: 'error',
      message: __('Žádné zadané obrázky', 'kontrapunkt')
    }) }}
  {% endif %}
</div>
{% endblock %}
