# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# default config exclude
/wp-config-ddev.php
/wp-config.php
.idea
.user.ini
malcare-waf.php
