{#
name: "Header"
weight: 90
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'tag': 'header',
  'name': 'header',
  'id': 'header',
  'classes': [
    content.wrapper_classes,
  ],
} %}
{% block content %}
{% set navbar_attributes = create_attribute({
  id: 'navbar',
  class: [
    'navbar',
  ],
}) %}
{% set has_language_switcher = false %}
<nav{{ navbar_attributes }}>
  <div x-data="{ isMenuOpen: false }" class="container max-lg:px-0 max-lg:max-w-none py-6">
    <div class="w-full lg:flex lg:justify-between lg:items-center {% if has_language_switcher %}lg:space-x-6{% endif %}">
      {# Header shown on desktop #}
      <div class="lg:w-full lg:flex lg:flex-col lg:items-center lg:justify-between lg:space-x-12 lg:gap-8">
        <div class="mx-4 lg:mx-0">

          {{ component_header_bar({
            language_switcher: content.language_switcher,
          }) }}

        </div>
        <div class="lg:flex lg:items-center">

          {{ component_header_collapse({
            menu: content.menu,
            login: content.login,
            wrapper_classes: content.language_switcher ? ''
          }) }}

        </div>
      </div>

      {% if has_language_switcher %}
        <div class="hidden lg:flex lg:items-center lg:space-x-5 mt-4 lg:mt-0">

          {{ component_header_language_switcher({
            items: content.language_switcher,
            wrapper_classes: 'hidden lg:block'
          }) }}

        </div>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}
