{% import '@macro/icons/icons.twig' as icons %}
{% extends "@styleguide/styleguide-base.twig" %}
{% block content %}
<div x-data="{ isSidebarOpen: false }">
  <header class="fixed inset-x-0 top-0 w-full flex justify-between items-center px-4 px-md-6 py-2 bg-white shadow-sm z-50">
    <a href="/styleguide" class="text-black flex items-center header-logo">
      <img src="{{ templateUrl }}/images/logo.svg" class="logo img-fluid" style="max-height: 1.75rem">
    </a>
    <button class="hamburger-icon" type="button">
      <input x-model="isSidebarOpen" type="checkbox" id="sidebar-checkbox" class="sidebar-checkbox js-sidebar-checkbox sr-only">
      <label for="sidebar-checkbox" class="flex items-center m-0">
        <span class="mr-4 uppercase">Menu</span>
        <div class="relative w-6 h-6">
          {{ icons.get('hamburger') }}
        </div>
      </label>
    </button>
  </header>
  <div class="pt-16 h-full">
    {% include '@styleguide/styleguide-sidebar.twig' %}
    <div>
      {% block styleguide %}
        Sorry, no content
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
