{#
name: "Aktuality - seznam"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'news-list',
  'classes': [
    content.inner ? '' : 'mt-8 mb-12 sm:mt-10 sm:mb-16 lg:mt-12 lg:mb-24',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}

{% block content %}
<div class="max-w-(--breakpoint-md) mx-auto">
  {{ component_grid_2_cols({
    items: content.items,
    inner_component: 'news-teaser',
  }) }}
</div>
{% endblock %}
