{#
name: "Aktuality - seznam"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'news-list',
  'classes': [
    content.inner ? '' : 'my-8 sm:my-10 lg:my-12',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}

{% block content %}
{% if content.items is not empty %}
  <div class="max-w-screen-md mx-auto">
    {{ component_grid_2_cols({
      items: content.items,
      inner_component: 'news-teaser',
    }) }}
  </div>
{% endif %}
{% endblock %}
