{#
name: "Logo"
#}
{% block content %}
{% if content.linkHome %}
<a href="{{ homeUrl }}" class="inline-block">
{% endif %}
  <div>
    <img src="{{ templateUrl ~ '/images/logo.webp'}}" alt="" class="h-12 max-w-24">
  </div>
{% if content.linkHome %}
</a>
{% endif %}
{% endblock %}
