{#
name: "Header - collapse"
#}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'header-collapse',
  'id': content.wrapper_id,
  'classes': [
    content.wrapper_classes
  ],
} %}
{% block content %}
<div>
  <div :class="[ isMenuOpen ? 'block' : 'hidden lg:block' ]">
    {{ component_header_menu({
      items: content.menu
    }) }}
  </div>
  <div x-cloak :class="[ isMenuOpen ? 'block lg:hidden' : 'hidden' ]">
    {# {{ component_header_login({
      description: content.login.description,
      login: content.login.login,
      register: content.login.register,
      wrapper_classes: 'shrink-0'
    }) }} #}
  </div>
</div>
{% endblock %}
