{#
name: "Partneři"
weight: 9
#}

{% extends "@styleguide/styleguide-base.twig" %}
{% block content %}
{% include '@page/_partials/header.twig' %}

<main>
  {% include '@component/page-header/page-header.twig' with {
    content: {
      title: 'Partneři'
    }
  } %}

  {% include '@component/logo-cloud/styleguide.twig' %}
</main>

{% include '@page/_partials/footer.twig' %}
{% endblock %}
