@utility form-floating {
  /* solution for floating labels uses JS */
  @apply relative;
}

@utility form-label {
  @apply absolute left-4 top-2 lg:top-3 px-2 bg-transparent text-gray-400 border border-transparent text-base sm:text-sm pointer-events-none transition-all duration-150 ease-out;
  &.active {
    @apply text-sm text-gray-800 -top-2.5 bg-white border-gray-300;
  }
}

@utility active {
  &.form-label {
    @apply text-sm text-gray-800 -top-2.5 bg-white border-gray-300;
  }
}

@layer components {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="url"],
  input[type="tel"],
  textarea {
    @apply mt-6 px-5 py-2 lg:text-lg block w-full border-gray-500 focus:border-gray-500 focus:ring-3 focus:ring-gray-500 placeholder-transparent disabled:opacity-40;
  }
  input[type="search"] {
    @apply py-2 pl-5 pr-8 lg:py-2 lg:text-lg block w-full border-2 border-gray-500/50 focus:border-gray-500 focus:ring-3 focus:ring-gray-500;
  }
  input[type="checkbox"] {
    @apply w-6 h-6 text-gray-500 border-gray-500 focus:border-gray-500 focus:ring-3 focus:ring-gray-500;
  }
  input[type="radio"] {
    @apply w-6 h-6 rounded-full text-gray-500 border-gray-500 focus:border-gray-500 focus:ring-3 focus:ring-gray-500;
  }
  select {
    @apply mt-1 lg:text-lg block w-full border-gray-500 focus:border-gray-500 focus:ring-3 focus:ring-gray-500;
    background-image: url("../../images/icons/ico-select-dropdown.svg");
    background-position: right 0 top 0;
    background-repeat: no-repeat;
    background-size: 34px 45px;
  }
  @media only screen and (max-width: 1023px) {
    select {
      background-position: right 0 top -2px;
    }
  }
  input[type="submit"] {
    @apply btn btn-primary;
  }
}
