@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans;
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-4xl font-semibold;
  }
  h4 {
    @apply text-2xl font-semibold;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h1 a:not([href]),
  h2 a:not([href]),
  h3 a:not([href]),
  h4 a:not([href]),
  h5 a:not([href]) {
    @apply text-black hover:text-black no-underline hover:no-underline;
  }
  table {
    border-spacing: 0 0.5rem;
  }
  table a {
    @apply text-primary-500 underline hover:no-underline;
  }
  /* highlighted text for component highlight-services */
  .component-highlight-services img {
    @apply inline-block;
  }
  .component-highlight-services b,
  .component-highlight-services em {
    @apply text-primary-500 not-italic;
  }
  .list-arrow {
    list-style: url("../../images/icons/ico-list.svg");
  }
}

/* https://stackoverflow.com/questions/50654217/adding-horizontal-scrolling-shadows-effect */
@layer utilities {
  .table-shadow {
    background-image: linear-gradient(
        to right,
        white 0%,
        white 30%,
        transparent 100%
      ),
      linear-gradient(to right, transparent 0%, white 70%, white 100%),
      linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)),
      linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 160px 100%, 160px 100%, 80px 100%, 80px 100%;
    background-attachment: local, local, scroll, scroll;
  }
  @media (min-width: 640px) {
    .table-shadow {
      background-image: none;
    }
  }
}
