{#
name: "Program - Detail"
weight: 20
#}
<div class="sr-only">
  {{ component_breadcrumb({
    items: breadcrumb
  }) }}
</div>
{% if not content.header_disabled %}
{{ component_event_header({
  title: content.title,
  location: content.location,
  perex: content.perex,
  contact_list: content.contact_list,
  image: content.image,
  date_start: content.date_start,
  date_end: content.date_end,
  time_start: content.time_start,
  time_end: content.time_end,
  additional_showtimes: content.additional_showtimes,
}) }}
{% endif %}
{{ content.body|raw }}
