{#
name: "Header - language switcher"
#}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'header-language-switcher',
  'id': content.wrapper_id,
  'classes': content.wrapper_classes,
} %}
{% block content %}
{% if content.items %}
<ul class="flex items-center text-gray-800 lg:text-gray-100 -mx-4">
  {% for item in content.items %}
    <li class="block px-4{% if not loop.last %} border-r border-black lg:border-white{% endif %}">
      {% if item.url %}
      <a href="{{ item.url }}" class="hover:text-black lg:hover:text-white">
      {% else %}
      <a href="{{ item.home_url }}" class="hover:text-black lg:hover:text-white">
      {% endif %}
        <span class="text-xl {% if item.is_active %} text-black lg:text-white font-bold {% endif %}">{{ item.id|upper }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
