{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'jumbotron-image',
  'id': content.wrapper_id,
  'classes': [
    content.background ? 'bg-gray-100' : '',
    content.wrapper_classes
  ],
} %}
{% block content %}
  {% if content.background_image is not empty and content.heading is not empty %}
    <div class="relative overflow-hidden aspect-w-1 aspect-h-1 md:aspect-w-16 md:aspect-h-9 lg:aspect-w-16 lg:aspect-h-6">
      {% include '@component/picture/picture.twig'
        with {
          content: {
            image: content.background_image|resizer(['1600', '1000', '1000', 'crop'], ['800', '500', '700', 'crop'], ['400', '250', '', 'crop']),
            image_classes: 'w-full h-full object-cover object-top',
            image_attributes: {
              loading: 'auto',
            }
          }
        }
      %}
      <div class="jumbotron-overlay absolute inset-0 w-full h-full bg-primary opacity-50"></div>
      <div class="absolute inset-0 w-full h-full">
        <div class="container h-full mx-auto md:pt-12 lg:pt-32">
          <div class="flex h-full items-center justify-end isolate">
            <h1 class="text-4xl md:text-6xl xl:text-7xl font-bold text-white w-[10ch] text-right">
              {{- content.heading|typography -}}
            </h1>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
