{% extends "@styleguide/styleguide-layout.twig" %}
{% block styleguide %}
  <div class="px-4 px-md-6 py-2">
    <h2 class="mb-6">{{ styleguide.title|typography }}</h2>
    {% if styleguide.description %}
      <p>{{ styleguide.description|typography }}</p>
    {% endif %}
  </div>
  <div class="px-4 px-md-6 py-2 mb-8">
    {{ styleguide.content|raw }}
  </div>
{% endblock %}
