{#
name: "Kalendář"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'calendar',
  'classes': [
    content.inner ? '' : 'my-8 sm:my-10 lg:my-12',
    '[&_table_a]:no-underline [&_table_a]:text-gray-800',
    '[&_.fc-event-main-frame]:flex-wrap [&_.fc-event-main-frame]:px-1',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}
{% block content %}
  <div class="max-w-screen-xl mx-auto">
    <div id="calendar" data-events='{{ content.items|json_encode(constant('JSON_HEX_APOS') b-or constant('JSON_HEX_AMP') b-or constant('JSON_HEX_QUOT'))|raw }}'></div>
  </div>
{% endblock %}
