.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor,
.edit-post-visual-editor p {
  font-family: "Lexend", sans-serif;
}
.editor-post-title__block .editor-post-title__input {
  font-size: 3rem;
}
.edit-post-visual-editor,
.edit-post-visual-editor p,
.editor-rich-text__tinymce.mce-content-body {
  font-size: 1.25rem;
  line-height: 1.5;
}
.acf-block-preview {
  font-family: "Lexend", sans-serif;
  @import "../../dist/css/style";
}
div[class^="wp-block-acf-"],
div[class*=" wp-block-acf-"] {
  max-width: 100%;
  width: 100%;
}
