/* montserrat-200 - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("./montserrat-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("./montserrat-200.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-200.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-200.woff") format("woff"),
    /* Modern Browsers */ url("./montserrat-200.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-200.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-300 - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("./montserrat-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("./montserrat-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-300.woff") format("woff"),
    /* Modern Browsers */ url("./montserrat-300.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-300.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./montserrat-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./montserrat-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-regular.woff") format("woff"),
    /* Modern Browsers */ url("./montserrat-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-regular.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./montserrat-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("./montserrat-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-500.woff") format("woff"),
    /* Modern Browsers */ url("./montserrat-500.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-500.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./montserrat-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("./montserrat-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-600.woff") format("woff"),
    /* Modern Browsers */ url("./montserrat-600.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-600.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./montserrat-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./montserrat-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-700.woff") format("woff"),
    /* Modern Browsers */ url("./montserrat-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-700.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-800 - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("./montserrat-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("./montserrat-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-800.woff") format("woff"),
    /* Modern Browsers */ url("./montserrat-800.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-800.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-200italic - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: url("./montserrat-200italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./montserrat-200italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-200italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-200italic.woff")
      format("woff"),
    /* Modern Browsers */ url("./montserrat-200italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-200italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-300italic - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("./montserrat-300italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./montserrat-300italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-300italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-300italic.woff")
      format("woff"),
    /* Modern Browsers */ url("./montserrat-300italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-300italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-italic - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("./montserrat-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./montserrat-italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-italic.woff") format("woff"),
    /* Modern Browsers */ url("./montserrat-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-500italic - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("./montserrat-500italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./montserrat-500italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-500italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-500italic.woff")
      format("woff"),
    /* Modern Browsers */ url("./montserrat-500italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-500italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-600italic - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("./montserrat-600italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./montserrat-600italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-600italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-600italic.woff")
      format("woff"),
    /* Modern Browsers */ url("./montserrat-600italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-600italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-700italic - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("./montserrat-700italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./montserrat-700italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-700italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-700italic.woff")
      format("woff"),
    /* Modern Browsers */ url("./montserrat-700italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-700italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
/* montserrat-800italic - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url("./montserrat-800italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./montserrat-800italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./montserrat-800italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./montserrat-800italic.woff")
      format("woff"),
    /* Modern Browsers */ url("./montserrat-800italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./montserrat-800italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
