{#
name: "Placeholder"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'placeholder',
  'classes': [
    content.wrapper_classes,
  ],
} %}

{% block content %}
<div class="w-full h-full min-h-[6rem] min-w-[6rem] bg-gray-300"></div>
{% endblock %}
