{% include '@component/video-list/video-list.twig'
  with {
    content: {
      heading: {
        heading: "Naše videa",
      },
      items: [
        {
          video: 'https://www.youtube.com/embed/JAdOQ6mAgTg',
        },
        {
          video: 'https://www.youtube.com/embed/4MtHOPKUEUE',
        },
      ],
      text_before: '<p>Lorem ipsum dolor sit amet. Et atque minus qui omnis commodi qui quia sequi sed error beatae. Sit ipsa velit et laboriosam dignissimos qui culpa sunt aut dolorem fugit aut doloremque sint qui molestiae voluptatem! Cum officia voluptatem et voluptas dolor ex numquam ipsam nam impedit dolorem 33 sint voluptate ut rerum corporis non rerum quibusdam.</p>',
      text_after: '<p>Sit ipsa velit et laboriosam dignissimos qui culpa sunt aut dolorem fugit aut doloremque sint qui molestiae voluptatem! Cum officia voluptatem et voluptas dolor ex numquam ipsam nam impedit dolorem 33 sint voluptate ut rerum corporis non rerum quibusdam.</p>',
      background: true
    }
} %}
{% include '@component/video-list/video-list.twig'
  with {
    content: {
      heading: {
        heading: "Naše video",
      },
      items: [
        {
          video: 'https://www.youtube.com/embed/JAdOQ6mAgTg',
        },
      ],
      text_before: '<p>Lorem ipsum dolor sit amet. Et atque minus qui omnis commodi qui quia sequi sed error beatae. Sit ipsa velit et laboriosam dignissimos qui culpa sunt aut dolorem fugit aut doloremque sint qui molestiae voluptatem! Cum officia voluptatem et voluptas dolor ex numquam ipsam nam impedit dolorem 33 sint voluptate ut rerum corporis non rerum quibusdam.</p>',
      text_after: '<p>Sit ipsa velit et laboriosam dignissimos qui culpa sunt aut dolorem fugit aut doloremque sint qui molestiae voluptatem! Cum officia voluptatem et voluptas dolor ex numquam ipsam nam impedit dolorem 33 sint voluptate ut rerum corporis non rerum quibusdam.</p>',
      background: true
    }
} %}
