{#
name: "Video list"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'video-list',
  'id': content.wrapper_id,
  'classes': [
    'mt-8 mb-12 sm:mt-10 sm:mb-16 lg:mt-12 lg:mb-24',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': {
    'heading': content.heading.heading,
    'font': 'display',
    'size': 'large',
  },
} %}
{% block content %}
{% if content.text_before is not empty %}
  <div class="prose text-gray-900 pb-4 md:pb-8 lg:pb-12">
    {{ content.text_before|typography }}
  </div>
{% endif %}
{% if content.items|length > 0 %}
  <div class="space-y-8 md:space-y-0 md:flex md:flex-wrap md:gap-y-8 md:-mx-4 justify-center">
    {% for key, item in content.items %}
      <div class="w-full md:w-1/2 md:px-4">
        <div class="aspect-w-16 aspect-h-9">
          <iframe src="{{ item.video }}" frameborder="0" loading="lazy" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% if item.perex is not empty %}
          <div class="prose text-gray-900 mt-4">
            {{ item.perex|typography }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}
{% if content.text_after is not empty %}
  <div class="prose text-gray-900 py-4 md:py-8 lg:py-12">
    {{ content.text_after|typography }}
  </div>
{% endif %}
{% endblock %}
