{#
name: "404"
weight: 99
styleguide:
  content:
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': '404',
  'container': 'container py-12 md:py-20 lg:py-24',
} %}
{% block content %}
    <div class="min-h-[35vh]">
      <h1 class="">{{ __('Omlouváme se, tato stránka neexistuje.', 'starter_theme') }}</h1>
      <p class="mt-4 md:mt-6 lg:mt-8">{{ __('Zkuste se vrátit na domovskou stránku a začít znovu.', 'starter_theme') }}</p>
      <a href="{{ homeUrl }}" class="btn btn-primary mt-8 md:mt-10 lg:mt-12">{{ __('Přejít na hlavní stranu', 'starter_theme') }}</a>
    </div>
{% endblock %}
