{#
name: "Galerie - slider"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'gallery-slider',
  'id': content.wrapper_id,
  'classes': [
    'my-12 md:my-20 lg:my-24',
    'overflow-hidden',
    content.wrapper_classes,
  ],
  'container': 'container max-w-4xl',
  'heading': {
    'heading': content.heading.heading,
    'heading_classes': 'text-lg sm:text-xl lg:text-2xl',
  }
} %}

{% block content %}
{% if content.perex %}
<div class="prose prose-xl mb-4 sm:mb-6 lg:mb-8">
  {{ content.perex|typography }}
</div>
{% endif %}
{% if content.items is not empty %}
  {{ component_slider({
    inner_component: 'picture-slider',
    items: content.items,
    wrapper_classes: 'js-gallery'
  }) }}
{% endif %}
{% endblock %}
