{#
name: "Event - list"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'event-list',
  'id': content.wrapper_id,
  'classes': [
    content.inner ? '' : 'my-8 sm:my-10 lg:my-12',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}

{% block content %}
<div class="max-w-screen-md mx-auto">
  {{ component_list_stacked({
    inner_component: 'event-teaser',
    items: content.items,
  }) }}
  {{ component_pagination({
    items: content.pagination,
  }) }}
</div>
{% endblock %}
