{#
name: "Seznam: loga"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'logo-cloud',
  'id': content.wrapper_id,
  'classes': [
    content.wrapper_classes
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}
{% block content %}
{% if content.items|length %}
  <div class="flex flex-wrap items-center justify-center gap-x-8 gap-y-10 sm:gap-x-10">
    {% for image in content.items %}
      {{ component_picture({
        image: image|resizer(['400', '0']),
        image_classes: 'w-auto max-h-14 md:max-h-16 lg:max-h-20 max-w-[12rem] object-contain opacity-70 hover:opacity-100',
      }) }}
    {% endfor %}
  </div>
{% else %}
  {{ component_alert({
    type: 'error',
    message: __('Žádná zadaná loga', 'kontrapunkt')
  }) }}
{% endif %}
{% endblock %}
