{#
name: "Seznam: loga"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'logo-cloud',
  'id': content.wrapper_id,
  'classes': [
    content.inner ? '' : 'my-8 sm:my-10 lg:my-12',
    content.wrapper_classes
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}
{% block content %}
{% if content.items|length %}
  <div class="max-w-screen-md mx-auto">
    <div class="flex flex-wrap items-center gap-x-8 gap-y-10 sm:gap-x-10">
      {% for image in content.items %}
        {{ component_picture({
          image: image|resizer(['400', '0']),
          image_classes: 'w-auto max-h-16 lg:max-h-24 max-w-52 object-contain opacity-100',
        }) }}
      {% endfor %}
    </div>
  </div>
{% else %}
  {{ component_alert({
    type: 'error',
    message: __('Žádná zadaná loga', 'kontrapunkt')
  }) }}
{% endif %}
{% endblock %}
