<div class="page-wrapper">
  {% include '@page/_partials/header.twig' %}
  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ component_breadcrumb({
      items: [
        {
          title: "Úvod",
          url: '#'
        },
        {
          title: "Služby",
          url: '#'
        },
        {
          title: "Detail služby",
          url: '#'
        }
      ],
    }) }}
    {{ component_content({
      html: '<p>Ochrana osobních údajů je pro nás velmi důležitá. V&nbsp;následujícím dokumentu vás informujeme, jaké osobní údaje zpracováváme, proč je zpracováváme, na jak dlouho a&nbsp;jaká jsou vaše&nbsp;práva.</p>
            <h2>Kdo je správce?</h2>
            <p>Správce osobních údajů na webu <a href="http://www.proficio.cz" target="_blank">www.proficio.cz</a> je Proficio Marketing s.r.o., se sídlem Za divadlem 586/2, Brno, 602 00, IČ 01749315, zapsaná u&nbsp;Krajského soudu v&nbsp;Brně, oddíl C, vložka 79259 (dále jen Správce).</p>
            <h2>Jak nás můžete kontaktovat?</h2>
            <p>V&nbsp;případě dotazu použijte prosím tel.: +420 731 133 337 nebo e-mail: <a href="mailto:info@proficio.cz">info@proficio.cz</a>.</p>
            <h2>Kdy zpracováváme vaše osobní údaje?</h2>
            <p>Vaše osobní údaje zpracováváme v&nbsp;případě odeslání kontaktního formuláře, přihlášení k&nbsp;odběru newsletteru a&nbsp;vložení komentáře ve smyslu nařízení Evropského parlamentu a&nbsp;Rady (EU) č. 2016/679&nbsp;o&nbsp;ochraně fyzických osob v&nbsp;souvislosti se zpracováním osobních údajů a&nbsp;o volném pohybu těchto údajů a&nbsp;o zrušení směrnice 95/46/ES (obecné nařízení o&nbsp;ochraně osobních údajů) (dále jen „Nařízení“). V&nbsp;případě odeslání kontaktního formuláře zpracováváme tyto osobní údaje:</p>
            <ul>
            <li>E-mailovou adresu</li>
            <li>Jméno a&nbsp;příjmení</li>
            <li>Telefon</li>
            <li>Text zprávy</li>
            </ul>
            <p>Tyto osobní údaje je nutné zpracovat pro vytvoření nabídky služeb, jednání o&nbsp;této nabídce nebo za účelem odpovědi na vámi vznesený dotaz. Takové zpracování umožňuje čl. 6. odst. 1&nbsp;písm. b) Nařízení. Tyto osobní údaje budou Správcem zpracovávány po dobu jednání o&nbsp;uzavření smlouvy, nejdéle 1&nbsp;rok od vaší poptávky, pokud neudělíte souhlas k&nbsp;dalšímu zpracování. V&nbsp;případě přihlášení k&nbsp;odběru newsletterů zpracováváme tento osobní údaj:</p>
            <ul>
            <li>E-mailovou adresu</li>
            </ul>
            <p>Tento osobní údaj zpracováváme za účelem zasílání obchodních sdělení, jejichž obsahem jsou nové články na našem blogu. E-mail zpracováváme po dobu 5&nbsp;let. Obchodní sdělení vám zasíláme na základě uděleného souhlasu. Ze zasílání obchodních sdělení je možné se kdykoli jednoduše odhlásit. Takové zpracování umožňuje čl. 6. odst. 1&nbsp;písm. a) Nařízení. V&nbsp;případě vložení komentáře zpracováváme následující osobní údaje:</p>
            <ul>
            <li>Jméno</li>
            <li>E-mailovou adresu</li>
            <li>Komentář</li>
            </ul>
            <p>Tyto osobní údaje zpracováváme za účelem odpovědi na váš komentář. Takové zpracování umožňuje čl. 6. odst. 1&nbsp;písm. f) Nařízení.</p>
            <h2>Kdo další může mít přístup k&nbsp;vašim osobním údajům?</h2>
            <p>Správce spolupracuje s&nbsp;dalšími subjekty (zpracovatelé), kteří mohou mít přístup k&nbsp;vašim osobním údajům. Přístup k&nbsp;vašim osobním údajům mohou mít i&nbsp;tito zpracovatelé:</p>
            <ul>
            <li>E-mailingový nástroj <a href="https://mailchimp.com/" target="_blank">MailChimp</a></li>
            </ul>
            <h2>Jaká&nbsp;jsou vaše&nbsp;práva?</h2>
            <p>Vezměte na vědomí, že podle zákona o&nbsp;ochraně osobních údajů máte&nbsp;právo:</p>
            <ul>
            <li>Požadovat po nás informaci o&nbsp;tom, jaké vaše osobní údaje zpracováváme, případné žádat kopii těchto osobních údajů,</li>
            <li>požadovat po nás vysvětlení ohledně zpracování osobních údajů,</li>
            <li>vyžádat si u&nbsp;nás přístup k&nbsp;těmto údajům a&nbsp;tyto nechat aktualizovat nebo opravit,</li>
            <li>požadovat po nás výmaz těchto osobních údajů – tento výmaz však bude mít za následek ukončení jednání o&nbsp;smlouvě a&nbsp;bude proveden jen v&nbsp;případě, že zájmy společných správců nepřevažují nad vaší ochranou soukromí,</li>
            <li>v případě pochybností o&nbsp;dodržování povinností souvisejících se zpracováním osobních údajů obrátit se na nás nebo na Úřad pro ochranu osobních údajů, případně na&nbsp;soud.</li>
            </ul>
            <h2>Prohlášení o&nbsp;používání cookies</h2>
            <h3>Co jsou cookies</h3>
            <p>Cookies jsou krátké textové soubory vytvářené webovým serverem a&nbsp;ukládané ve vašem počítači prostřednictvím prohlížeče. Když se později vrátíte na stejný web, prohlížeč pošle uloženou cookie zpět a&nbsp;server tak získá všechny informace, které si u&nbsp;vás předtím uložil. Cookies využívá pro svou činnost naprostá většina webových stránek.</p>
            <h3>Jak se dělí cookies</h3>
            <p>Cookies lze rozdělit podle toho, kdo je k&nbsp;vám na web umisťuje, tj.&nbsp;na:</p>
            <ol>
            <li>Cookie první strany (first party cookie) –&nbsp;jejich platnost je omezena na doménu webu, který prohlížíte. Tyto&nbsp;cookies jsou považována&nbsp;za bezpečnější.</li>
            <li>Cookie třetí strany (third party cookie) –&nbsp;jsou umístěny pomocí skriptu z&nbsp;jiné domény. Uživatele tak lze sledovat napříč doménami. Používají se často pro vyhodnocení účinnosti reklamních kanálů.</li>
            </ol>
            <p>Podle trvanlivosti lze cookies rozdělit na:</p>
            <ol>
            <li>Krátkodobé (session cookie) – vymažou se z&nbsp;vašeho počítače po zavření prohlížeče</li>
            <li>Dlouhodobé (persistent cookie) – po zavření prohlížeče zůstávají zachovány, vymažou se teprve po uplynutí velmi dlouhé doby (ta záleží na nastavení vašeho prohlížeče a&nbsp;nastavení cookie). Můžete je také ručně odstranit.</li>
            </ol>
            <p>Dle účelu můžeme využití cookies rozdělit takto:</p>
            <ol>
            <li>Technické – umožňují základní funkce webu (např. přihlašování) nebo stránek (např. přehrávat videa, sdílet obsah&nbsp;apod.)</li>
            <li>Analytické – slouží pro sběr neanonymních dat o&nbsp;chování uživatelů. Na jejich základě můžeme web upravit web tak, aby se vám lépe používal.</li>
            <li>Remarketingové – slouží k&nbsp;cílení reklam na uživatele,&nbsp;kteří již na našem webu&nbsp;byli.</li>
            <li>Konverzní – s&nbsp;jejich pomocí můžeme vyhodnotit úspěšnost kampaní.</li>
            </ol>
            <h2>K čemu cookies používáme</h2>
            <p>Na našem webu používáme tyto cookies:</p>
            <ul>
            <li>Technické – první strany, krátkodobé. Zajišťují základní technickou funkčnost webu, tj. přihlašování, využívání služeb apod.</li>
            <li>Google Analytics – první strany, dlouhodobé. Jsou využity ke generování anonymních statistik o&nbsp;používání webu.</li>
            <li>Google Ads&nbsp;Google AdWords – první strany, dlouhodobé, remarketingové a&nbsp;konverzní.</li>
            <li>Sklik – třetí strany, dlouhodobé, remarketingové a&nbsp;konverzní.</li>
            <li>Facebook Pixel – první strany, dlouhodobé, remarketingové a&nbsp;konverzní.</li>
            </ul>
            <p>Naše webové stránky využívají technologie retargetingu od služby Sklik provozované společností Seznam.cz, a.s. Ta nám umožňuje ukázat návštěvníkům, kteří již projevili zájem o&nbsp;naše produkty, naše reklamy v&nbsp;reklamní síti společnosti Seznam.cz, a.s. Do cookies nikdy neumisťujeme citlivá nebo osobní data. Do cookies můžeme umístit ID uživatele, to ale neumožňuje třetím stranám identifikovat konkrétní osobu.</p>
            <h3>Jak lze upravit využívání cookies</h3>
            <h4>Vymazání</h4>
            <p>Vymazat můžete cookies ve Vašem prohlížeči – zpravidla bývá umístěno „Historii“&nbsp;navštívených stránek.</p>
            <h4>Blokování</h4>
            <p>Prohlížeče umožňují umísťování cookies na váš&nbsp;počítač zablokovat. V&nbsp;takovém případě bude&nbsp;ale funkcionalita těchto stránek omezena. Informace o&nbsp;nastavení ukládání souborů cookies ve vašem prohlížeči najdete na stránkách poskytovatele konkrétního prohlížeče:</p>
            <ul>
            <li><a href="https://support.google.com/accounts/answer/61416?hl=cs" target="_blank">Chrome</a></li>
            <li><a href="https://support.mozilla.org/cs/kb/blokovani-cookies" target="_blank">Firefox</a></li>
            <li><a href="https://support.microsoft.com/cs-cz/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer</a></li>
            <li><a href="https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DAndroid&amp;hl=en" target="_blank">Android</a> – různé prohlížeče</li>
            </ul>
            <p>Další informace o&nbsp;cookies a&nbsp;jejich využití najdete na stránkách <a href="https://www.aboutcookies.org/" target="_blank">https://www.aboutcookies.org/</a>.</p>
            <h2>Tento web používá Google Analytics</h2>
            <p>Tato stránka používá službu Google Analytics, poskytovanou společností Google, Inc. (dále jen „Google“). Služba Google Analytics používá soubory&nbsp;cookies. Informace o&nbsp;užívání stránky spolu s&nbsp;obsahem souboru cookie bude společností Google přenesen a&nbsp;uložen na serverech ve Spojených státech. Google bude užívat těchto informací pro účely vyhodnocování užívání stránky a&nbsp;vytváření zpráv o&nbsp;její aktivitě&nbsp;určených pro její provozovatele&nbsp;a&nbsp;pro poskytování dalších služeb týkajících se činností na stránce a&nbsp;užívání internetu vůbec. Google může také poskytnout tyto informace třetím osobám, bude-li to požadováno zákonem nebo budu-li takovéto třetí osoby zpracovávat tyto informace pro Google. Služba Google Analytics je rozšířena o&nbsp;související reklamní funkce poskytované společností Google, a&nbsp;to:</p>
            <ul>
            <li>Přehledy zobrazení v&nbsp;reklamní síti Google,</li>
            <li>remarketing (zobrazování reklam v&nbsp;obsahové síti na základě zhlédnutých produktů),</li>
            <li>rozšířené demografické přehledy (reportování anonymních demografických dat),</li>
            <li>user id – funkce Google Analytics, která umožňuje měřit a&nbsp;analyzovat chování uživatelů napříč zařízeními. Jako user id je používáme řetězec čísel nebo písmen, nikdy nepoužíváme osobní údaje, které by dovolily třetím stranám identifikovat konkrétní osobu.</li>
            </ul>
            <p>Více informací o&nbsp;zpracování a&nbsp;využití dat najdete ve <a href="https://policies.google.com/technologies/partner-sites?hl=cs" target="_blank">smluvních podmínkách společnosti Google</a>.</p>
            <h2>Jak zakázat sledování Google Analytics</h2>
            <p>Pokud nechcete poskytovat anonymní data o&nbsp;používání webu službě Google Analytics, můžete použít <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">plugin poskytovaný společností Google.</a> Po nainstalování do vašeho prohlížeče a&nbsp;aktivaci nebudou dále data odesílána. Dne 24. května 2018</p>',
      prose: true,
      container: 'container',
      wrapper_classes: 'my-3',
    }) }}
  </main>
  {% include '@page/_partials/footer.twig' %}
</div>
