{{ component_wp_form({
  heading: 'Contact form',
  form: '
    <form action="/kontakt/#wpcf7-f5-p16-o1" method="post" class="wpcf7-form init" aria-label="Kontaktní formulář" novalidate="novalidate" data-status="init">
    <div style="display: none;">
    <input type="hidden" name="_wpcf7" value="5">
    <input type="hidden" name="_wpcf7_version" value="5.7.7">
    <input type="hidden" name="_wpcf7_locale" value="cs_CZ">
    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p16-o1">
    <input type="hidden" name="_wpcf7_container_post" value="16">
    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <div>
    <div class="form-floating">
      <span class="wpcf7-form-control-wrap" data-name="user-name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control required" id="input-name" autocomplete="name" aria-required="true" aria-invalid="false" value="" type="text" name="user-name"></span>
      <label class="form-label active" for="input-name">Jméno</label>
    </div>
    <div class="form-floating">
      <span class="wpcf7-form-control-wrap" data-name="user-email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control required" id="input-email" autocomplete="email" aria-required="true" aria-invalid="false" value="" type="email" name="user-email"></span>
      <label class="form-label" for="input-email">E-mail</label>
    </div>
    <div class="form-floating">
      <span class="wpcf7-form-control-wrap" data-name="user-subject"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control required" id="input-subject" aria-required="true" aria-invalid="false" value="" type="tel" name="user-subject"></span>
      <label class="form-label" for="input-subject">Předmět</label>
    </div>
    </div>

    <div>
    <div class="form-floating">
      <span class="wpcf7-form-control-wrap" data-name="user-message"><textarea cols="40" rows="6" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control required" id="input-message" aria-required="true" aria-invalid="false" name="user-message"></textarea></span>
      <label class="form-label" for="input-message">Zpráva</label>
    </div>
    </div>
    </div>

    <div class="flex flex-row-reverse justify-start items-center mt-6">
      <input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="Odeslat"><span class="wpcf7-spinner"></span>
    </div><div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>
  ',
}) }}
