{#
name: "Picture"
#}
{% extends "@component/component/component.twig" %}
{% set component = {
  'tag': 'picture',
  'id': content.wrapper_id,
  'classes': [
    'flex-shrink-0 max-w-full',
    content.wrapper_classes
  ],
} %}
{% block content %}
{% if content.url %}
  {% set link_attributes = create_attribute({
    'href': content.url,
    'target': content.target,
    'class': [
      'block h-full group-hover:brightness-105 transition ease-in-out duration-300',
      content.link_lightbox ? 'js-lightbox' : '',
    ]
  }) %}
  <a{{ link_attributes|raw }}>
{% endif %}
{% for image in content.image %}
  {% if loop.last %}
    {% set image_attributes = create_attribute({
      'src': image.src,
      'type': image.type,
      'width': image.width ? image.width : null,
      'height': image.height ? image.height : null,
      'alt': image.alt ? image.alt : '',
      'loading': content.loading ? content.loading : 'lazy',
      'class': [
        'transition-filter ease-in-out duration-300',
        content.image_classes|join(' ')|trim
      ]
    }) %}
    {% if content.image_attributes %}
      {% for key, value in content.image_attributes %}
        {% set attributes = image_attributes.setAttribute(key, value) %}
      {% endfor %}
    {% endif %}
    <img{{ image_attributes }}>
  {% else %}
    {% set source_attributes = create_attribute({
      'srcset': image.src,
      'type': image.type,
      'width': image.width ? image.width : null,
      'height': image.height ? image.height : null,
      'media': image.media ? image.media : null,
    }) %}
    <source{{ source_attributes }}>
  {% endif %}
{% endfor %}
{% if content.url %}
  </a>
{% endif %}
{% endblock %}
