{%
  set items = [
    {
      "message": "This is example status message. Give it a click if you like.",
      "type": "success",
    },
    {
      "message": "This is example status message. Give it a click if you like.",
      "type": "warning",
    },
    {
      "message": "This is example status message. Give it a click if you like.",
      "type": "error",
    }
  ]
%}
<div class="px-4 px-md-6 py-2 max-w-3xl">
  {% for item in items %}
    {% include '@component/alert/alert.twig' with {
      content: {
        message: item.message,
        type: item.type,
      }
    } %}
  {% endfor %}
</div>
