{{ component_contact_list({
  heading: {
    heading: 'Rezervace',
  },
  perex: 'Máte-li zájem o rezervaci sálu, můžete nás kontaktovat zde.',
  items: [
    {
      type: 'email',
      email: 'vstupenky.mksjaromer@seznam.cz',
    },
    {
      type: 'phone',
      phone: '603 273 018',
    },
    {
      type: 'address',
      address: 'Náměstí 123, 123 45 Jaroměř',
    },
    {
      type: 'bank',
      bank: '<p>ČSOB a.s. 235068595 / 0300</p><p>SWIFT / BIC: CEKOCZPP</p>',
    }
  ],
  wrapper_classes: 'p-component'
}) }}
