{#
name: "Logo"
#}
{% block content %}
{% if content.linkHome %}
<a href="/" class="block">
{% endif %}
  <div class="w-12 h-12 pt-1 lg:w-24 lg:h-24 lg:pt-0">
    <img src="{{ templateUrl ~ '/images/logo.webp'}}" alt="">
  </div>
{% if content.linkHome %}
</a>
{% endif %}
{% endblock %}
