{#
name: "Page - header"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'page-header',
  'id': content.wrapper_id,
  'classes': [
    content.inner ? '' : 'my-8 sm:my-10 lg:my-12',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}

{% block content %}
  <div class="max-w-3xl mx-auto">
    {% if content.title %}
      {% set heading_attributes = create_attribute({
        class: [
          'text-gray-950 text-2xl sm:text-3xl font-bold leading-tight',
          content.variant == 'center' ? 'sm:text-center' : '',
        ]
      }) %}
      <h1{{ heading_attributes }}>
        {{ content.title|typography }}
      </h1>
      {% if content.perex %}
        <div class="prose prose-lg mt-4">
          {{ content.perex|typography }}
        </div>
      {% endif %}
    {% else %}
      {{ component_alert({
        type: 'error',
        message: __('Page title is missing', 'kontrapunkt'),
      }) }}
    {% endif %}
  </div>
{% endblock %}
