{% extends "@styleguide/styleguide-base.twig" %}
{% block content %}
{% include '@page/_partials/header.twig' %}
{% include '@page/article-full/article-full.twig'
  with {
    content: {
      breadcrumb: [
        {
          title: 'Úvod',
          url: '/styleguide'
        },
        {
          title: 'Blog',
          url: '/styleguide/page/07-blog'
        },
        {
          title: 'SEO v roce 2021 – jste připravení na změnu?',
          url: ''
        },
      ],
      title: 'SEO v roce 2021 – jste připravení na změnu?',
      body: '
        <div class="component component-paragraph my-6">
          <div>
            <div class="prose prose-lg prose-primary prose-center">
              <p><em>Rok <span class="numbers">2020</span> je za námi a&nbsp;dal nám pořád&shy;nou lek&shy;ci. Netr&shy;pělivě
                  tedy vyh&shy;lížíme, co při&shy;nese součas&shy;ný rok. Online prostředí i&nbsp;vyh&shy;ledávání se pořád
                  mění. Pro&shy;to není divu, že i&nbsp;<span class="caps">SEO</span>&nbsp;pro&shy;jde další&shy;mi
                  změ&shy;na&shy;mi. Pojďme si společně před&shy;stavit trendy, které ovlivní opti&shy;mal&shy;izaci pro
                  vyh&shy;ledá&shy;vače v&nbsp;roce <span class="numbers">2021</span>.</em></p>
            </div>
          </div>
        </div>
        <div class="component component-heading my-6">
          <div>
            <div class="prose prose-lg prose-primary prose-center">
              <h2>Patrně největší gamechang&shy;er: Uži&shy;va&shy;tel&shy;ská přívětivost&nbsp;</h2>
            </div>
          </div>
        </div>
        <div class="component component-paragraph my-6">
          <div>
            <div class="prose prose-lg prose-primary prose-center">
              <p>Kapi&shy;tolou, která před&shy;stavu&shy;je velk&shy;ou příleži&shy;tost i&nbsp;hrozbu zároveň, bude
                letos&nbsp;<strong>rozhod&shy;ně kvali&shy;ta načítání webu</strong>. Důležitá byla samozře&shy;jmě už před
                rokem <span class="numbers">2021</span>, měla totiž značný vliv na výkonové ukazatele.</p>
            </div>
          </div>
        </div>
        <div class="component component-paragraph my-6">
          <div>
            <div class="prose prose-lg prose-primary prose-center">
              <p>Jak&shy;mile se načítání webu či jed&shy;notlivé stránky pro&shy;táhne na dobu&nbsp;<a
                  href="https://pagespeed.cz/blog/proc-mit-rychly-web" target="_blank" rel="noreferrer noopener">delší než
                  <span class="numbers">1</span>&nbsp;sekun&shy;da</a>, začí&shy;na&shy;jí uži&shy;vatelé ztrácet pozornost.
                Po <span class="numbers">10</span> sekundách už z&nbsp;webu odcháze&shy;jí. Čím delší je prodl&shy;e&shy;va,
                tím rych&shy;le&shy;ji lidé mizí. A&nbsp;to vše má velký dopad ─ tře&shy;ba na konverze.</p>
            </div>
          </div>
        </div>
        <div class="component component-heading my-6">
          <div>
            <div class="prose prose-lg prose-primary prose-center">
              <h3>Od květ&shy;na zavelí Core Web Vitals</h3>
            </div>
          </div>
        </div>
        <div class="component component-paragraph my-6">
          <div>
            <div class="prose prose-lg prose-primary prose-center">
              <p>Není žád&shy;ným tajem&shy;stvím, že Google v&nbsp;květ&shy;nu začne v&nbsp;rám&shy;ci hod&shy;no&shy;cení
                webu zohledňo&shy;vat dlouho očeká&shy;vané Core Web Vitals. Samot&shy;né Web Vitals už to nějak&shy;ou chvíli
                máme. Jed&shy;ná se o&nbsp;sou&shy;bor metrik, které Google považu&shy;je za rozho&shy;du&shy;jící
                z&nbsp;hlediska&nbsp;<strong>uži&shy;va&shy;tel&shy;ské zážitku z&nbsp;webu</strong>. Core Web Vitals je potom
                část těch&nbsp;<strong>nejdůležitějších</strong>&nbsp;z&nbsp;Web Vitals.&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="component component-paragraph my-6">
          <div>
            <div class="prose prose-lg prose-primary prose-center">
              <p>Doteď se tím&shy;to zabý&shy;vali přede&shy;vším spe&shy;cial&shy;isté na&nbsp;<span
                  class="caps">UX</span>&nbsp;a&nbsp;web&shy;de&shy;sign. S&nbsp;konečným verdik&shy;tem promítání
                výsled&shy;ků těch&shy;to metrik do&nbsp;<strong>celkového hod&shy;no&shy;cení</strong>&nbsp;webu je tedy
                jas&shy;né, že&nbsp;<span class="caps">UX</span>&nbsp;<span class="amp">&amp;</span>&nbsp;web&shy;de&shy;sign
                mají k&nbsp;<a href="https://proficio.cz/seo"><span class="caps">SEO</span></a>&nbsp;zase o&nbsp;krok blíž.
                A&nbsp;ne o&nbsp;malý.&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="component component-heading my-6">
          <div>
            <div class="prose prose-lg prose-primary prose-center">
              <h2><span class="numbers">3</span> metriky, <span class="numbers">3</span>&nbsp;krkolom&shy;né&nbsp;názvy</h2>
            </div>
          </div>
        </div>
        <div class="component component-paragraph my-6">
          <div>
            <div class="prose prose-lg prose-primary prose-center">
              <p>Tak na&nbsp;<strong>které&shy;pak metriky si musí&nbsp;<span class="caps">SEO</span>&nbsp;spe&shy;cial&shy;isté
                  posvítit</strong>? Neb&shy;udeme vás napí&shy;nat.
                Pojďme si je ale&shy;spoň ve zkratce představit.</p>
            </div>
          </div>
        </div>
      ',
      tag_list: [
        {
          url: '#',
          title: 'PPC',
        },
        {
          url: '#',
          title: 'Google Nákupy',
        },
        {
          url: '#',
          title: 'Heureka',
        },
        {
          url: '#',
          title: 'SEO',
        }
      ],
      user: {
        name: 'Lukáš Kenja',
        url: '/styleguide/page/user-full',
        image: [
          {
            'src': templateUrl ~ '/images/placeholders/contact-team-0.png',
            'type': 'image/png'
          }
        ],
        anotation: 'Lukáš je ředitel společnosti BESTETO. Práce ho baví, rád se vzdělává a ještě raději chodí na různé marketingové akce. Mimo akce ho můžete potkat v dobré asijské restauraci nebo s knížkou v ruce.',
        date: '14. 9. 2021',
      },
      comment_count: '4',
      comments: [
        {
          body: '
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua.
          ',
          internal: true,
          approved: true,
          image: [
            {
              'src': templateUrl ~ '/images/placeholders/team-1.png',
              'type': 'image/png'
            }
          ],
          url: '/styleguide/page/user-full',
          author: 'Lukáš Kenja',
          date: '1022250981',
          children: [
            {
              body: '
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua.
              ',
              internal: false,
              approved: true,
              image: [
                {
                  'src': templateUrl ~ '/images/placeholders/team-2.png',
                  'type': 'image/png'
                }
              ],
              author: 'Patrick Axmann',
              date: '1179598352',
            },
            {
              body: '
                Díky!
              ',
              internal: false,
              approved: false,
              image: [
                {
                  'src': templateUrl ~ '/images/placeholders/team-1.png',
                  'type': 'image/png'
                }
              ],
              author: 'Lukáš Kenja',
              date: '1182089348',
            }
          ]
        },
        {
          body: '
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua.
          ',
          internal: true,
          approved: true,
          image: [
            {
              'src': templateUrl ~ '/images/placeholders/team-1.png',
              'type': 'image/png'
            }
          ],
          url: '/author/lukas-kenja/',
          author: 'Lukáš Kenja',
          date: '1531731742',
        }
      ],
      comment_form: {
        url: '#',
        post_id: '999',
        status: 'open',
        user: '',
        privacy_url: '#',
      }
    }
} %}
{% include '@page/_partials/footer.twig' %}
{% endblock %}
