{#
name: "Projekty - seznam"
#}
{% import '@macro/icons/icons.twig' as icons %}
{% extends "@component/component/component.twig" %}
{% set component = {
  'name': 'project-list',
  'id': content.wrapper_id,
  'classes': [
    content.inner ? '' : 'my-8 sm:my-10 lg:my-12',
    content.wrapper_classes,
  ],
  'container': content.inner ? '' : 'container',
  'heading': content.heading,
} %}

{% block content %}
{% if content.items is not empty %}
  <div class="max-w-screen-md mx-auto space-y-12 sm:space-y-16">
  {% for item in content.items %}
    {{ component_project_teaser(item) }}
  {% endfor %}
  </div>
{% endif %}
{% endblock %}
